version: '3.7'
services:
  golbat:
    image: ghcr.io/unownhash/golbat:main
    container_name: golbat
    restart: unless-stopped
    ports:
      - "9001:9001"
    volumes:
      # EITHER you mount the config.toml file
      # OR you use environment variables below
      - ${PWD}/config.toml:/golbat/config.toml
      # optional volumes if you want to have access to logs and persist cache
      # comment if not needed
      - ${PWD}/cache:/golbat/cache
      - ${PWD}/logs:/golbat/logs
    environment:
      # refer to config.toml.example and README for explanations
      - GOLBAT.PORT=9001
      - GOLBAT.GRPC_PORT=50001
      - GOLBAT.RAW_BEARER=
      - GOLBAT.API_SECRET=golbat

      - GOLBAT.POKEMON_MEMORY_ONLY=false

      - GOLBAT.KOJI.URL=http://{koji_url}/api/v1/geofence/feature-collection/{golbat_project}
      - GOLBAT.KOJI.BEARER_TOKEN=secret

      - GOLBAT.CLEANUP.POKEMON=true
      - GOLBAT.CLEANUP.INCIDENTS=true
      - GOLBAT.CLEANUP.QUESTS=true
      - GOLBAT.CLEANUP.STATS=true
      - GOLBAT.CLEANUP.STATS_DAYS=7
      - GOLBAT.CLEANUP.DEVICE_HOURS=24

      - GOLBAT.LOGGING.DEBUG=false
      - GOLBAT.LOGGING.SAVE_LOGS=true
      - GOLBAT.LOGGING.MAX_SIZE=50
      - GOLBAT.LOGGING.MAX_BACKUPS=10
      - GOLBAT.LOGGING.MAX_AGE=30
      - GOLBAT.LOGGING.COMPRESS=true

      - GOLBAT.DATABASE.USER=
      - GOLBAT.DATABASE.PASSWORD=
      - GOLBAT.DATABASE.ADDRESS=host.docker.internal:3306
      - GOLBAT.DATABASE.DB=

      - GOLBAT.PVP.ENABLED=true
      - GOLBAT.PVP.INCLUDE_HUNDOS_UNDER_CAP=false

      - GOLBAT.PROMETHEUS.ENABLED=false

      - GOLBAT.WEBHOOKS.0.URL=http://localhost:4201
      - GOLBAT.WEBHOOKS.0.TYPES=pokemon,gym,invasion,quest,pokestop,raid

      - GOLBAT.WEBHOOKS.1.URL=http://localhost:4202
      - GOLBAT.WEBHOOKS.1.TYPES=raid

      - GOLBAT.WEBHOOKS.2.URL=http://localhost:4202
      - GOLBAT.WEBHOOKS.2.TYPES=raid
      - GOLBAT.WEBHOOKS.2.AREAS=London/*,*/Harrow,Harrow
